.ica-section {
  height: 100vh;
  width: 100vw;


.position-practice {
  /* centered div with a border of 5px with border radius of 5px */
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: 5px solid black;
  border-radius: 5px;
}

/* INSERT YOUR CSS STYLES BELOW THIS COMMENT */

}
.h1style1{
  font-size: 42pt;
}
.h1style2{
  font-size: larger
}
.h1style3{
  font-size: 23%
}

.h2style1{
  color:darkslategrey
}
.h2style2{
  color: rgb(77,0,77)
}
.h2style3{
  color: #DDF18C
}

.pfont{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
.qfont{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}
.bqfont{
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}